spring:
  jpa:
    database: POSTGRESQL
    show-sql: false
    hibernate.ddl-auto: none

  database:
    driverClassName: org.postgresql.Driver

  datasource:
    platform: postgres
    username: admin-api
    password: {{admin_api_password}}
    url: jdbc:postgresql://{{ db_address }}:5432/admin

liquibase:
  user: admin-owner
  password: {{admin_owner_password}}
  url: jdbc:postgresql://{{ db_address }}:5432/admin

cross-origin-addresses: {{ cross_origin_addresses }}

logging:
  level:
    org.springframework.web: DEBUG